<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--add key="constr" value="server=115.28.169.38,9753;uid=sync;pwd=sync;database=luqinsyncsns"/-->
    <add key="constr" value="server=sql-server-new-time.database.chinacloudapi.cn;uid=cangjie;pwd=abcd123!@#;database=weixin"/>
    <add key="md5key" value="weixin_new_time"/>
    <add key="wxappid" value="wxf77ebfeebacd98fc"/>
    <add key="wxappsecret" value="8a9ed67ccd2fda48ef55528504994a67"/>
    <!--add key="qrcode_path" value="D:\Webs\weixin.luqinwenda.com\images\qrcode"  /-->
    <add key="qrcode_path" value="c:\qrcode\"  />
    <add key="domain_name" value="weixin-new-time-english.chinacloudsites.cn"  />
    <add key="ori_id" value="gh_4d6d49b20c6e" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    
  </system.web>
  <system.webServer>
   
    <httpProtocol>
      <customHeaders>     	
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>