
.headerT{
    width:100%;
    height:44px;
    border:none;
    padding:0;
    margin:0;
    overflow:hidden;
    background:#fff;
    line-height: 44px;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
}

.headerT .curCart{
    width: 20px;
    height: 20px;
    float: right;
    background-image: url("../img/course/curCart.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -31px;
    margin-right: 10px;
}
.headerT .mtitle{
    padding-left: 10px;
}

.explorerdiv{
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    padding-left: 6px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px dotted #C0C0C0;
    z-index: 9999;
}
.explorerdiv select{
    border: 1px solid #64b3ff;
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    width: 104px;
}
.explorerdiv input{
    width:60px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    background-color: #64b3ff;
    border-radius: 20px;
    border: 1px solid #64b3ff;
    color: #fff;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.curList{
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 40px;
}
.curList ul {
    padding: 10px;
}
.curList ul li {
    border-radius: 6px;
    width: 100%;
    box-shadow: 1px 1px 5px 2px #ccc;
    margin-bottom: 4%;
}
.curList ul li dl dt {
    background-color: #64b3ff;
    padding: 4%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
    position: relative;
}
.curList ul li dl dt h2 {
    border-left: 6px solid #ffa36b;
    padding-left: 10px;
    margin-bottom: 10px;
}
.curList ul li dl dt span {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    width: 70%;
}
.curList ul li dl dt a.chage {
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 20px;
    position: absolute;
    right: 4%;
    bottom: 8%;
    border-radius: 20px;
}
.curList ul li dl dd {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 4%;
}
.curList ul li dl dd p {
    overflow: hidden;
    line-height: 30px;
}
.curList ul li dl dd p strong {
    float: left;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
.curList ul li dl dd p small {
    float: right;
    color: #999;
}
.curList ul li.myChange dl dt {
    background-color: #4a86bf;
}
.curList ul li.myChange dl dd {
    background-color: #ccc;
}
.curList ul li.myChange dl dt a.chage {
    background-color: #fff;
    color: #333;
}
footer {
    position: fixed;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    background-color: #fff;
    width: 100%;
}
footer .noBuy {
    overflow: hidden;/*
    display: none; */
}
footer .noBuy a {
    float: right;
    font-size: 1.4em;
    background-color: #ff6345;
    color: #fff;
    padding: 0 4%;
}
footer .noBuy small {
    float: right;
    margin-right: 2%;
    font-size: 12px;
}
footer .buy {
    overflow: hidden;
    display: none;
}
footer .buy a,footer .buy strong,footer .buy span {
    float: right;
}
footer .buy a {
    font-size: 1.4em;
    background-color: #ff6345;
    color: #fff;
    padding: 0 4%;
}
footer .buy strong {
    color: #ff6345;
    font-size: 1.6em;
    margin-right: 2%;
}
footer .buy strong small {
    font-size: 14px;
}
footer .buy span {
    color: #aaa;
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 2%;
}
