.videohrT{
    width:100%;
    height:44px;
    border:none;
    padding:0;
    margin:0;
    overflow:hidden;
    background:#fff;
    line-height: 44px;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
}
.vtitle{
    background-color: #44ba80;
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: table-row;
    font-size: 14px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 6px;
    margin-left: 5px;
    text-align: center;
    float: left;
}
.vtitle a{
    color: #ffffff;
}
.vhandout{
    background-color: #44ba80;
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: table-row;
    font-size: 14px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 6px;
    margin-left: 30px;
    text-align: center;
    float: left;
}
.vhandout a{
    color: #ffffff;
}

.videohrT .vdoCart{
    width: 20px;
    height: 20px;
    float: right;
    background-image: url("../img/video/vdoCart.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-right: 11px;
}
.videoCnt {
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.videoCnt h1{
    font-size: 14px;
}
.videoCntName{
    padding-top: 5px;
}
.video{
    width: 100%;
    height: 150px;
}
.vdoSub{
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}
.vdoSub .subtitle {
    width: 85%;
    margin: 0 15px;
}
.vdoShare{
    width: 90%;
    height: 30px;
    background-color: #44ba80;
    border-radius: 10px;
    margin: 11px 5%;
    font-size: 12px;
    /* text-align: center; */
    border: 1px solid #44ba80;
    color: #fff;

}
.vdoAudio{
    width: 95%;
    height: 38px;
    /* margin: 10px auto; */
    background: url(../img/video/vdoAudio.png);
}
.vdoTag{
    width: 30px;
    height: 30px;
    background: url(../img/video/vdoTag.jpg) no-repeat;
    position: absolute;
    right: 5px;
    top: 310px;
    z-index: 2;
}
.ui-dialog {
    display: none;
}

/*一级分类点击后样式*/
#tabdemo .selectActive {
    background-color: #98FB98;
}
/*二级分类对应样式*/
.content {
    display: none;
}
.zy_media {
    z-index: 999999999
}

.box {
    margin: 15px auto 0 auto;
    width: 400px;
}